<form action="/" method="post">
  <div class="text_field">
    <input type="text" name="link" id="link" value="<%= params[:link] %>">
  </div>
  <input type="submit" value="Enviar" class="minibutton" id="enviar">
</form>