<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Link Unprotect</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>          
    <div id="head">
      <%= erb :header %>
    </div>
    <div id="content">
      <%= erb :instructions %>
      <%= erb :form %>
      <%= erb :result %>
    </div>
  </body>
<html>