<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Link Unprotect</title>
    <meta name="description" content="O Link Unprotect irá resolver aqueles links chatos que estão te incomodando.">
    <meta name="keywords" content="link, link unprotect, proteger link, desproteger link, links protegidos, proteção links">
    <meta name="google-site-verification" content="Rox_EV9amLKpCPZtcGjMQeWh_Q44mFVebGZ05LuPXsQ" />
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>          
    <div id="head">
      <%= erb :header %>
    </div>
    <div id="content">
      <%= erb :instructions %>
      <%= erb :form %>
      <%= erb :result %>
    </div>
  </body>
  <script src="javascripts/googleanalytics.js" />
<html>