<div id="instructions" style="text-align: left; margin-left: 10%;">
  <h2>Como usar:</h2>
  <ol>
    <li>Encontre o link com a "proteção"</li>
    <li>Copie a url protegida e cole no campo abaixo. De urls como <strong>http://site.com/?url=link_protegido</strong> copie apenas <em>link_protegido</em></li>
    <li>Clique em "Enviar"</li>
  </ol>
</div>